.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

.choose {
  background-color: initial;
  background-image: linear-gradient(-180deg, #5aff15, #00b712);
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.choose:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 10px;
  margin-left: 20px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #ffffff;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

div {
  padding: 5px 10px;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.dropzone.active {
  border-color: #2196f3;
}

.textArea {
  display: block;
  margin-left: 8px;
  margin-top: 5px;
  font-size: 20px;
  color: white;
}
